@import "variables";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar {
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  margin: 5% auto;

  & div {
    display: none;
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid #000;
    margin: 1px;
    cursor: pointer;
    transition-duration: 0.5s;

    &::after {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }

  & div:hover {
    background-color: #ffc0cb;
    transform: translateY(-20px);
  }
}

@each $days in $days-in-month {
  .calendar-#{$days} {
    @for $day from 1 through $days {
      div:nth-child(#{$day}) {
        display: block;
        &::after {
          content: "#{$day}";

        }
      }
    }
  }
}

@each $day, $number in $days-of-week {
  .calendar-#{$day} div:first-child {
    margin-left: $number * 105px - ($number - 1);
  }
}
