@import "variables";

body {
  margin: 0;
}

.calendar {
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  margin: 5% auto;

  & div {
    display: none;
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid #000;
    margin: 1px;
    cursor: pointer;
  }

  & div:hover {
    background-color: #ffc0cb;
    transform: translateY(-20px);
    transition-duration: 0.5s;
  }

  @each $days in $days-in-month {
    &-#{$days} {
      @for $day from 1 through $days {
        div:nth-child(#{$day}) {
          display: block;
          &::after {
            content: "#{$day}";
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30px;
          }
        }
      }
    }
  }

  @each $day, $number in $days-of-week {
    &-#{$day} div:first-child {
      margin-left: $number * 105px - ($number);
    }
  }
}
